@use "sass:map";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$color-primario: #1c7aec;
$color-secundario: #0fb87a;
$color-acento: #ffb703;
$texto: #222;
$fondo: #f7f7f7;
$blanco: #fff;

//Break Points to Responsice
$breakpoints: (
  xs: 768px,
  sm: 1024px,
  md: 1280px,
  lg: 1440px,
  xl: 1536px,
);

//Mixins for Responsive
@mixin responsive-to($size) {
  $bp: map.get($breakpoints, $size);

  @if $bp == null {
    @error "Breakpoint `#{$size}` does not exist in $breakpoints: #{$breakpoints}";
  }

  @media (min-width: #{$bp}) {
    @content;
  }
}

// Button Base
.btn-base {
  display: inline-block;
  margin: 5px 0;
  background: $color-secundario;
  color: $blanco;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
  width: max-content;
}

//Container Base
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  background: $color-acento;
        @include responsive-to(md) {
           display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
      }
  p {
    margin-top: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    span {
      color: $color-primario;
      font-weight: bold;
    }
  }
  nav {
    background: $color-acento !important;
    color: $blanco;
    .navbar-toggler:focus,
    .navbar-toggler:active {
      outline: none !important;
      box-shadow: none !important;
    }

    div {
      div {
        ul {
          li {
            a {
              color: $blanco;
            }
          }
        }
      }
    }
  }
}

.principal {
  background: linear-gradient(180deg, #0e72ed, #fff);
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    h1 {
      font-size: 2rem;
      margin-bottom: 6px;
      color: $color-acento;
      font-weight: bold;
      margin-top: 10px;
    }
    p {
      color: $blanco;
      font-size: 12px;
      @include responsive-to(md) {
        font-size: 20px;
      }
    }
    a {
      @extend .btn-base;
    }
  }
}

@mixin style-target {
  div {
    @extend .container;
    h2 {
      display: flex;
      justify-content: center;
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      gap: 10px;
      justify-items: center;
      @include responsive-to(xs) {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive-to(md) {
        grid-template-columns: 1fr 1fr 1fr;
       column-gap: 50px;
      }

      article {
        display: inline-block;
        vertical-align: top;
        width: 320px;
        margin: 8px;
        background: $blanco;
        border: 1px solid #eee;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 3px 8px rgba(8, 4, 4, 0.3);
         @include responsive-to(lg) {
        width: 350px;
      }
        figure {
          img {
            width: 100%;
            height: 400px;
            display: block;
          }
        }
        div {
         display: flex;
         flex-direction: column;
          padding: 10px 12px;
          background: linear-gradient(0deg, #0e72ed23, #fff);
          h3 {
            margin-bottom: 6px;
            color: $color-primario;
            font-weight: bold;
            text-decoration: overline;
          }
          .description {
            color: #555;
          }
          .enlace {
            @extend .btn-base;
            text-decoration: none;
          }
        }
      }
    }
  
  }
}

#lugares .containerExtras{
   display: flex;
  flex-direction: column;
  width: 100%;
 @include responsive-to(md){
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    
 }
 
 .containerDatosRapidos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid #e4effd;
  padding: 10px;
  @include responsive-to(md){

       margin-top:40px;
    height: 315px;
  }
  ul{
   margin-left: 1.2rem;
   li{
    margin: 4px 0;
   }
  }
 }
}

#destinos {
  @include style-target;
}

#lugares {
  @include style-target;
}


iframe {
  border-radius: 10px;
}